.header{
    padding: 16px 0;
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 50px;
    }
    .logo{
        margin-right: 55px;
    }
    &__list{
        display: flex;
        align-items: center;
    }
    &__li{
        &:not(:last-of-type){
            margin-right: 26px;
        }
    }
    &__link{
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        color: #000000;        
    }
    &__btns{
        display: flex;
        align-items: center;
    }
    &__btn{
        &:not(:last-of-type){
            margin-right: 32px;
        }
    }
}