.intro{
    background: url(../img/intro-bg.png) center / cover no-repeat;
    padding-top: 32px;
    padding-bottom: 55px;
    &__subtitle{
        font-family: 'Ledger';
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 97px;
        color: #000000;
    }
    &__title{
        font-family: 'Ledger';
        font-style: normal;
        font-size: 70px;
        line-height: 97px;
        color: #000000;
        margin-bottom: 10px;
    }
    &__li{
        display: flex;
        align-items: center;
        font-family: 'Ledger';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 45px;
        color: #FFFFFF;
        &:not(:last-of-type){
            margin-bottom: 30px;
        }
        svg{
            margin-right: 50px;
        }
    }
}