mixin about()
    .about 
        .about__body
            .about__content.container 
                h2.about__title офтальмология
                .about__row 
                    .about__left 
                        p.about__p В Центре офтальмологии доступен обширный спектр услуг по диагностике и лечению  заболеваний глаз
                        p.about__p Лечение заболеваний:
                        ul.about__list 
                            li.about__li Глаукома
                            li.about__li Катаракта
                            li.about__li Травмы глаза
                            li.about__li Ретинопатия различного генеза
                            li.about__li Макулодистрофия
                            li.about__li Атрофия зрительного нерва
                            li.about__li Тромбоз сосудов сетчатки
                            li.about__li Патология стекловидного тела
                            li.about__li Отслойка сетчатки
                    .about__right 
                        .about__img 
                            img(src="@img/about-img.png", alt="" draggable="false")
                        button(type="button").about__btn Записаться
            .about__picture 
                img(src="@img/about-before.png", alt="" draggable="false")
            .about__content.container 
                h2.about__title Вакцинация
                .about__row 
                    .about__left 
                        p.about__p Вакцинация в клиниках проводится под контролем квалифицированного специалиста в соответствии с Национальным календарем прививок. Кроме того, осуществляется вакцинация против некоторых инфекций, не входящих в список обязательных прививок, в том числе от гепатита А, вируса папилломы человека, клещевого энцефалита, ротавирусной инфекции, менингококковой инфекции, ветряной оспы. В клиниках используются только качественные отечественные и импортные вакцины. 
                    .about__right 
                        .about__img 
                            img(src="@img/about-img-2.png", alt="" draggable="false")
                        button(type="button").about__btn Записаться
            .about__picture 
                img(src="@img/about-after.png", alt="" draggable="false")
            .about__content.container 
                h2.about__title УЗИ
                .about__row 
                    .about__left 
                        p.about__p Клиники предлагают своим пациентам более 30 видов УЗИ органов по привлекательной цене. Ультразвуковая диагностика – один из наиболее эффективных и безопасных способов обследования, демонстрирующий точный результат. Специалисты  обладают обширными знаниями в области расшифровки показателей УЗИ.
                    .about__right 
                        .about__img 
                            img(src="@img/about-img-3.png", alt="" draggable="false")
                        button(type="button").about__btn Записаться