mixin advantages()
    .advantages 
        .advantages__body.container 
            .advantages__img 
                img(src="@img/advantages-img.png", alt="")
            .advantages__right 
                h2.advantages__title PROhealth - это про здоровье! 
                p.advantages__desc Наша сеть медицинских центров предоставляет широкий спектр качественных услуг и профессиональных специалистов. Мы позаботимся о вашем здоровье ПРОфессионально!
                p.advantages__desc «PROhealth» - это место где о вас позаботятся, 