mixin doctors()
    .doctors 
        .doctors__body.container 
            .doctors__row 
                .doctors__img 
                    img(src="@img/doctor-1.png", alt="" draggable="false")
                .doctors__right 
                    p.doctors__p Главврач, доктор наук в сфере мануальной терапии лауреат премии врач года, многократный победитель международного конкурса по оказанию первой помощи пожилым людям
                    p.doctors__p Рабочий телефон:
                    a(href="#!").doctors__p +7 (XXX) XXX XX XX 
                    p.doctors__p Дни и часы работы:
                    a(href="#!").doctors__p Пн-Пт с 9:00 до 18:00
            .doctors__row 
                .doctors__img 
                    img(src="@img/doctor-2.png", alt="" draggable="false")
                .doctors__right 
                    p.doctors__p Медсестра за работой, молодой специалист, аспирант “2”-го меда, многократный победитель олимпиад по молекулярной химии, специалист по генетике, обладательница рекорда по прививанию вакцин  в условиях недостаточной освещённости
                    p.doctors__p Рабочий телефон:
                    a(href="#!").doctors__p +7 (XXX) XXX XX XX 
                    p.doctors__p Дни и часы работы:
                    a(href="#!").doctors__p Пн-Пт с 9:00 до 18:00
            .doctors__row 
                .doctors__img 
                    img(src="@img/doctor-3.png", alt="" draggable="false")
                .doctors__right 
                    p.doctors__p Офтальмолог очень скромный дедок, не любит фотографироваться в анфас, поэтому лицо мы его скрыли
                    p.doctors__p Рабочий телефон:
                    a(href="#!").doctors__p +7 (XXX) XXX XX XX 
                    p.doctors__p Дни и часы работы:
                    a(href="#!").doctors__p Пн-Пт с 9:00 до 18:00
            .doctors__row 
                .doctors__img 
                    img(src="@img/doctor-4.png", alt="" draggable="false")
                .doctors__right 
                    p.doctors__p Врач ультразвуковой диагностики открытая добрая женщина, которая обязательно поставит вам верный диагноз и позаботиться о  выявлении заболеваний при профилактических осмотрах
                    p.doctors__p Рабочий телефон:
                    a(href="#!").doctors__p +7 (XXX) XXX XX XX 
                    p.doctors__p Дни и часы работы:
                    a(href="#!").doctors__p Пн-Пт с 9:00 до 18:00