mixin header()
    header.header 
        .header__nav.container
            .header__left
                a(href="index.html").logo 
                    img(src="@img/logo.png", alt="" draggable="false") 
                ul.header__list 
                    li.header__li 
                        a(href="services.html").header__link Услуги 
                    li.header__li 
                        a(href="doctors.html").header__link Врачи 
                    li.header__li 
                        a(href="#!").header__link Клиники 
                    li.header__li 
                        a(href="#!").header__link Акции 
                    li.header__li 
                        a(href="#!").header__link Контакты
            .header__btns 
                button(type="button").header__btn 
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.9029 15.4678C30.909 11.9778 29.7317 8.58876 27.5632 5.85312C25.3947 3.11748 22.3628 1.19665 18.9618 0.403776C15.5609 -0.389093 11.9914 -0.00722638 8.83545 1.48712C5.67949 2.98146 3.12317 5.50014 1.58326 8.63251C0.0433521 11.7649 -0.389308 15.3262 0.355818 18.7358C1.10094 22.1454 2.97991 25.2022 5.68636 27.4078C8.39282 29.6134 11.7671 30.8378 15.2592 30.8812C18.7512 30.9247 22.1549 29.7846 24.9155 27.647L37.2767 40L40 37.2785L27.6388 24.9255C29.747 22.2223 30.8953 18.895 30.9029 15.4678ZM15.4515 27.0487C13.1595 27.0487 10.9189 26.3695 9.01318 25.097C7.10745 23.8244 5.62211 22.0157 4.74499 19.8996C3.86788 17.7835 3.63839 15.455 4.08553 13.2085C4.53268 10.962 5.63639 8.89848 7.25709 7.27887C8.87778 5.65925 10.9427 4.55627 13.1906 4.10942C15.4386 3.66257 17.7687 3.89191 19.8862 4.76844C22.0038 5.64497 23.8137 7.12933 25.087 9.0338C26.3604 10.9383 27.0401 13.1773 27.0401 15.4678C27.0401 18.5392 25.8191 21.4849 23.6459 23.6567C21.4726 25.8286 18.525 27.0487 15.4515 27.0487Z" fill="black"/>
                    </svg>
                button(type="button").header__btn 
                    <svg width="37" height="40" viewBox="0 0 37 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.463 40H7.53704C5.53854 39.999 3.6223 39.4596 2.20915 38.5003C0.795996 37.5411 0.00145187 36.2403 0 34.8837V29.3023C0 25.9717 1.9491 22.7774 5.41852 20.4223C8.88795 18.0672 13.5935 16.7441 18.5 16.7441C23.4065 16.7441 28.1121 18.0672 31.5815 20.4223C35.0509 22.7774 37 25.9717 37 29.3023V34.8837C36.9985 36.2403 36.204 37.5411 34.7908 38.5003C33.3777 39.4596 31.4615 39.999 29.463 40V40ZM18.5 19.5348C14.6852 19.5378 11.0278 20.5678 8.33033 22.3989C5.63283 24.23 4.11546 26.7127 4.11111 29.3023V34.8837C4.11256 35.5002 4.47397 36.0911 5.11614 36.527C5.75831 36.9629 6.62887 37.2083 7.53704 37.2093H29.463C30.3711 37.2083 31.2417 36.9629 31.8839 36.527C32.526 36.0911 32.8874 35.5002 32.8889 34.8837V29.3023C32.8845 26.7127 31.3672 24.23 28.6697 22.3989C25.9722 20.5678 22.3148 19.5378 18.5 19.5348V19.5348Z" fill="black"/>
                        <path d="M18.4998 19.5349C15.6539 19.5349 12.872 18.962 10.5058 17.8888C8.13952 16.8155 6.29526 15.29 5.2062 13.5053C4.11714 11.7205 3.83219 9.75661 4.38739 7.86191C4.94258 5.96721 6.31299 4.22682 8.32531 2.86082C10.3376 1.49482 12.9015 0.564562 15.6927 0.187683C18.4838 -0.189196 21.377 0.00423204 24.0062 0.743507C26.6354 1.48278 28.8826 2.7347 30.4637 4.34095C32.0448 5.94719 32.8887 7.83563 32.8887 9.76745C32.8843 12.357 31.367 14.8397 28.6695 16.6708C25.972 18.5019 22.3146 19.5319 18.4998 19.5349V19.5349ZM18.4998 2.7907C16.467 2.7907 14.4799 3.19988 12.7898 3.9665C11.0996 4.73311 9.78227 5.82273 9.00437 7.09756C8.22647 8.37239 8.02293 9.77518 8.4195 11.1285C8.81607 12.4819 9.79494 13.725 11.2323 14.7007C12.6697 15.6765 14.501 16.3409 16.4947 16.6101C18.4884 16.8793 20.5549 16.7412 22.4329 16.2131C24.3109 15.6851 25.9161 14.7908 27.0455 13.6435C28.1748 12.4962 28.7776 11.1473 28.7776 9.76745C28.7747 7.9177 27.6909 6.14428 25.7641 4.83632C23.8372 3.52835 21.2247 2.79267 18.4998 2.7907Z" fill="black"/>
                    </svg>