mixin solution()
    .solution 
        .solution__body.container 
            h2.solution__title Есть проблема? - Есть решение!
            form(action="#").solution__form
                input(type="text" required).solution__input
                button(type="submit").solution__btn 
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.9029 15.4678C30.909 11.9778 29.7317 8.58876 27.5632 5.85312C25.3947 3.11748 22.3628 1.19665 18.9618 0.403776C15.5609 -0.389093 11.9914 -0.00722638 8.83545 1.48712C5.67949 2.98146 3.12317 5.50014 1.58326 8.63251C0.0433521 11.7649 -0.389308 15.3262 0.355818 18.7358C1.10094 22.1454 2.97991 25.2022 5.68636 27.4078C8.39282 29.6134 11.7671 30.8378 15.2592 30.8812C18.7512 30.9247 22.1549 29.7846 24.9155 27.647L37.2767 40L40 37.2785L27.6388 24.9255C29.747 22.2223 30.8953 18.895 30.9029 15.4678ZM15.4515 27.0487C13.1595 27.0487 10.9189 26.3695 9.01318 25.097C7.10745 23.8244 5.62211 22.0157 4.74499 19.8996C3.86788 17.7835 3.63839 15.455 4.08553 13.2085C4.53268 10.962 5.63639 8.89848 7.25709 7.27887C8.87778 5.65925 10.9427 4.55627 13.1906 4.10942C15.4386 3.66257 17.7687 3.89191 19.8862 4.76844C22.0038 5.64497 23.8137 7.12933 25.087 9.0338C26.3604 10.9383 27.0401 13.1773 27.0401 15.4678C27.0401 18.5392 25.8191 21.4849 23.6459 23.6567C21.4726 25.8286 18.525 27.0487 15.4515 27.0487Z" fill="white"/>
                    </svg>
                    | Найти
            .solution__content 
                h2.solution__subtitle Популярные услуги
                ul.solution__list 
                    li.solution__li.first Офтальмогология
                    li.solution__li.second Лабораторная диагностика
                    li.solution__li.third МРТ (магнитно-резонансная томография)
                    li.solution__li.first Вакцинация
                    li.solution__li.second Медицинский массаж
                    li.solution__li.third Узи (ультразвуковое исследование)